@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  justify-content: space-around;
}

header,
footer {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #1f2937;
  color: #f9faf8;
  height: 72px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  display: flex;
  gap: 16px;
  font-size: 18px;
}

main {
  display: flex;
  flex-grow: 1;
}

footer {
  justify-content: center;
  align-items: center;
}
