@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  justify-content: space-around;
}

header,
footer {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #1f2937;

  height: 72px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: #e5e7eb;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hero-section {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

.hero-heading {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-secondary {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-left,
.hero-right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

button {
  background-color: #3882f6;
  border: 0;
  padding: 8px;
  border-radius: 0.5em;
  color: #f9fsf8;
}

footer {
  justify-content: center;
  align-items: center;
}
